
VITE_SUPABASE_URL=https://gbqtzytvtlrxfzlciwjd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdicXR6eXR2dGxyeGZ6bGNpd2pkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MTYzMjMsImV4cCI6MjA4NzQ5MjMyM30.9fSNZ1ZC3y3tSR3VGJyr_cEfebOwxXFTo18u6KGttxQ
